* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "InterBold", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

@font-face {
  font-family: "InterBold";
  src: url("../public/fonts/Inter-Bold.ttf");
}
@font-face {
  font-family: "InterMedium";
  src: url("../public/fonts/Inter-Medium.ttf");
}
@font-face {
  font-family: "InterRegular";
  src: url("../public/fonts/Inter-Regular.ttf");
}

h4.title {
  text-align: center;
  font-size: 48px;
}
h4.title::after {
  content: "";
  display: block;
  margin: 12px auto 16px;
  width: 50%;
  height: 2px;
  background: #ff3146;
}
.btn {
  transition: 0.3s;
  padding: 10px 40px;
  margin: 10px 0;
  background: #ff3146;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  &:hover {
    box-shadow: 5px 5px #31f1ff;
    letter-spacing: 0.1em;
  }
}
.wrapper {
  width: 100%;
  height: 100vh;
  background: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    transition: 0.5s;
    padding: 30px;
    width: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 30px;
    &.content-hiden {
      transform: scale(0.75);
    }
  }
  .params {
    width: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
  }

  ul {
    width: 75%;

    li {
      margin: 32px 0;
      display: grid;
      grid-template-columns: 1fr 7fr 1fr 1fr;
      align-items: center;
      justify-items: center;
      p {
        font-size: 20px;
      }
      img {
        width: 18px;
      }
    }
  }
}
.modal {
  display: none;
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  .modal-inner {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);

    background: #00000046;
  }
  .modal-container {
    transition: 0.5s;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: fadeup 0.5s ease-out;
    padding: 50px;
    border-radius: 20px;
    background: #fff;
    p {
      font-size: 20px;
      margin: 10px;
      font-family: "InterMedium";
    }
    input {
      width: 100%;
      text-align: center;
      font-family: "InterRegular";
      padding: 6px 10px;
      font-size: 20px;
    }
  }
  &.modal-opened {
    display: flex;
  }
}
@keyframes fadeup {
  0% {
    margin-top: 50%;
  }
  100% {
    margin-top: 0;
  }
}
